<html>
<head>
  <title>MVCX</title>

  <%- css('bootstrap') %>
</head>
<body>
  <h1>Welcome to MVCX</h1>
  <%= Date() %>
  <p><%= 'Current view engine is ' + config.mvcx.viewEngine + '.'%></p>

  <%- js('angular') %>
  <%- js('bootstrap') %>
</body>
</html>
